In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns 
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
import warnings
warnings.filterwarnings("ignore")
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import GridSearchCV, KFold
from keras.models import Sequential
from keras.layers import Dense
from scikeras.wrappers import KerasClassifier
from keras.optimizers import Adam

### **Splitting Test data and Training Data into Columns**

In [10]:
df_test = pd.read_csv('/Users/alex/Desktop/GIT/MLP_ASSSIGNMENT-1/NON_SEPARABLE_CLASSIFICATION/SPC-Testing.csv',sep='\s+',header=None,engine='python')
print('Test Data:')
display(df_test.head())
print()
df_train = pd.read_csv('/Users/alex/Desktop/GIT/MLP_ASSSIGNMENT-1/NON_SEPARABLE_CLASSIFICATION/SPC-Training.csv', sep ='\s+',header=None, engine='python')
print('Train Data:')
display(df_train.head())

Test Data:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,-1.691,-2.426,1.440,-2.688,2.240,-2.577,1.541,-0.045,-1.093,-0.498,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.337,-0.014,-1.134,1.714,1.821,-1.989,-1.056,-1.823,2.408,0.906,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.278,0.169,-2.756,-0.819,2.074,2.179,-0.616,1.405,-2.847,0.325,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.156,1.827,1.084,-0.675,-2.409,2.970,1.037,-1.972,-0.191,1.514,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-2.849,-2.715,0.909,-0.211,2.050,-2.632,1.746,-0.534,1.426,-1.512,1.0,0.0,0.0,0.0,0.0,0.0,0.0

Train Data:

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,-1.691,-2.426,1.440,-2.688,2.240,-2.577,1.541,-0.045,-1.093,-0.498,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.337,-0.014,-1.134,1.714,1.821,-1.989,-1.056,-1.823,2.408,0.906,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-0.278,0.169,-2.756,-0.819,2.074,2.179,-0.616,1.405,-2.847,0.325,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.156,1.827,1.084,-0.675,-2.409,2.970,1.037,-1.972,-0.191,1.514,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-2.849,-2.715,0.909,-0.211,2.050,-2.632,1.746,-0.534,1.426,-1.512,1.0,0.0,0.0,0.0,0.0,0.0,0.0